body{
    text-align: center;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
    width: 50%;
    background-color: brown;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    border: 3px solid black;
}
.post, .main-container{
    padding: 1em;
}
.main-container{
    color: blanchedalmond;
}
.cabeza{
    background-color: rgb(144, 144, 194);
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,05);
    margin: 0;
    align-items: center;
    padding: 0.5em;
}

.container-logo{
    height: 30px;
    margin: 0px 5px;
    width: 50px;
}
.logo{
    width: 100%;
    height: 100%;
}
.cabeza .tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.9em;
}

.container h3{
    font-size: 25px;
    color: whitesmoke;
}

.container-img{
    margin: 0;
    border: 2px solid black;
}

.container-img > a > img {
    width: 100%;
    height: 100%;
}
p{
    text-align: justify;
    color: rgb(228, 210, 210);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
	width:100%;
    color: white;
    padding: 10px 0px;
    font-weight: bold;
	text-align: center;
	background-color: rgb(81, 81, 153);
    font-family: 'Times New Roman', Times, serif;
   border-top: 2px solid black;
}
